h1 {
    font-weight: normal;
    display: flex;
    margin-left: 25px;
    margin-bottom: 25px;
}
nav{
    padding: 50px 25px;
    background-color: #ccc;
    display: flex;
    justify-content: flex-start;
}

li{
    list-style: none;
    padding: 10px;

}

li a {
    text-decoration: none;
    color: black;
}

.first-line{
    justify-self: start;
}